export G_RESOURCE_OVERLAYS=/zone/cooltech/tangara/Companion="$(pwd)/data"

# Windows toolchain + gtk stack. See script/build-windows for details
export WINDOWS_KITS=$HOME/cross/windows-kits

# macOS toolchain. See script/build-macos for details
export MACOS_KITS=$HOME/cross/macos-kits

if [[ "${CROSS:-}" == macos ]]; then
    # put macos kits into PATH
    export PATH="$MACOS_KITS/osxcross/bin:$PATH"
fi
