.console {
    font-family: monospace;
    color: #383a42;
    padding: 6px;
    padding-bottom:0px;
}

.console-input {
    outline: none;
    background: none;
    padding: 0;
    outline-offset: 0;
    min-height: 0;
}

.console-toolbar {
    padding-top: 0;
    border-spacing: 0;
    font-family: monospace;
}
